<br/>

<div class="container">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h2 class="panel-title">{{node.safeName()}}</h2>
        </div>

        <div class="panel-body">
            <ul class="list-unstyled">
                <h2>Properties:</h2>
                <li ng-repeat="prop in node.properties">
                    <div class="row">
                        <span class="col-sm-2"><strong>{{prop.name}}</strong>:</span>
                        <span class="col-sm-10">{{prop.value}}</span>
                    </div>
                </li>
            </ul>

            <ul class="list-unstyled">
                <h2>Children:</h2>
                    <div class="row">
                    <li ng-repeat="child in node.childrenAsNode">
                        <span class="col-sm-2">
                            <strong><a ng-href="{{child.link('self')}}">{{child.safeName()}}</a></strong>:
                        </span>
                        <span class="col-sm-10">{{child.type}}</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

        <a class="btn btn-sm btn-default" href="#/sessions">Back to sesssions</a>


