<h1 class="page-header">Sessions</h1>

<ul class="list-unstyled container">
    <li ng-repeat="session in sessions track by session.id" class="panel panel-info">
        <div class="panel-heading">
            <div class="pull-right">
                <div class="btn-group btn-group-xs">
                    <button type="button" class="btn btn-danger" ng-click="session.vote(-1)">-1</button>
                    <button type="button" class="btn btn-success" ng-click="session.vote(1)">+1</button>
                </div>

                <span class="label label-primary">Current score: {{session.currentVotes()}}</span>
                <span class="label label-warning">Votes: {{session.numberOfVotes()}}</span>
            </div>

            <h2 class="panel-title"><a ng-href="{{session.link('self')}}">{{session.safeName()}}</a>
            </h2>

        </div>


        <p class="panel-body">{{session.cleanedDescription()}}</p>

    </li>
</ul>